<div class="booking-title"><h1>Booking Information</h1></div>
<h2>Flight No. <%= @flight.id %>, Duration: <%= @flight.duration %> hour(s) </h2>
<div class="row">
	<div class="form-group col-md-6 text-center">
		<div>Origin: <%= @flight.origin.name %></div>
		<div>Departs at: <%= @flight.departure_time.strftime("%I:%M %p") %>, <%= @flight.formatted_date %></div>
	</div>
	<div class="col-md-6 text-center">
		<div>Destination: <%= @flight.destination.name %></div>
		<div>Arrives at: <%= @flight.arrival_time.strftime("%I:%M %p") %>, <%= @flight.formatted_date %></div>
	</div>
</div>

<%= form_for @booking do |f| %>
	<% passenger = 1 %>
	<% @seats.times do %>
		<h3>Passenger <%= passenger.to_s %>:</h3>
			<%= f.hidden_field :flight_id, value: @flight.id %>
 			<%= hidden_field_tag :flight_id, value: @flight.id %>
			<%= f.fields_for :passengers, @booking.passengers.build do |p| %>
        <%= p.label :name, "Name: " %>
				<%= p.text_field :name %>

				<%= p.label :email, "Email: " %>
				<%= p.text_field :email %>
			<% end %>
		<% passenger += 1 %>
	<% end %>
	<%= f.submit :Submit %>
<% end %>